<p>
babygitter is a library that helps you keep track of what <i>exactly</i> is deployed.  there is nothing deployment-related in the code yet but it is intended as an after-deploy hook.
</p><p>
what can babygitter do for you?  well it will help you and your clients keep track of what code produced the site you are looking at.  there are many <%= link_to 'features', features_path %> planned for streamlining your process of discovering what your next step is.  some will have more security implications than others, which is why we help you <%= link_to 'track which versions implement which features', feature_inclusions_path %>.
</p><p>
if you're interested in some case studies, some <%= link_to 'sites', sites_path %> have kindly registered themselves as users that you can investigate.
</p><p>
there are <%= Version.count %> <%= link_to 'versions', versions_path %> of babygitter (that we know of).
</p><p>
<a href="http://github.com/schwabsauce/babygitter">the original babygitter on github</a>
</p><p>
you can contact me through github but my email is <%= mail_to('mike.schwab@gmail.com', 'mike.schwab@gmail.com', :encode => :javascript) %>
</p>