<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
		<title>
			<%= @title || 'babygitter - the little guy' %>
		</title>
		<%= stylesheet_link_tag 'babygittersite' %>
	</head>
	<body>
		<div id="navigation">
			<ul id="controllers">
				<li><%= link_to 'home', root_url %></li>
				<li><%= link_to 'versions', versions_path %></li>
				<li><%= link_to 'sites', sites_path %></li>
				<li><%= link_to 'features', features_path %></li>
			</ul>
			<div class="clearfix"> </div>
		</div>
		<%= yield %>
	</body>
</html>